@model MoviesAI.Domain.Entities.MovieEntity
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5>@Model.Title</h5>
    <div><img src="@Model.ImageUrl"/></div>
    @foreach(var genre in @Model.Genres){<div>@genre</div>}
    @foreach(var actor in @Model.Actors){<div>@actor </div>}
    @foreach(var country in @Model.CreatedCountries){<div>@country </div>}
    <div>Year:@Model.CreatedYear</div>
    <form method="post" action="/Home/ProcessResponse">
        <input name="MovieId" value="@Model.Id">
        <button name="liked" type="submit" value="true">Да</button>
        <button name="liked" type="submit" value="false">Нет</button>
    </form>
</div>